body {
    background-color: #282828;
    color: aliceblue;
    font-family: monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.localImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 500ms;
    padding: 50px;
    
    
}

.localImg:hover { 
    transition: 1s;
    transform: scale(120%);
    
}
img {
    border-radius: 20px;
    width: 300px;
    height: auto;
}